@media (min-width: $desktopVersion) {
    // NAV
    details {
        display: none;
    }

    nav {
        @include displayColumn;

        aside {
            background-color: #1f1f2d;
            color: white;
            padding: 1% 3%;
            @include displayRow;
            justify-content: space-between;

            > span,
            > ul {
                @include displayRow;
                column-gap: 1vw;
                align-items: center;
                font-size: 14px;
            }

            > ul {
                list-style-type: none;
            }

            a {
                color: white;
                text-decoration: none;
            }

            a:hover {
                color: $mainColor;
            }
        }

        > section {
            @include displayRow;
            justify-content: space-between;
            align-items: center;
            padding: 0 3%;
            height: 7vh;

            > h2 {
                @include displayRow(1vw);
                color: $mainColor;
                font-weight: 800;
                font-size: 30px;
            }

            > ul {
                @include displayRow;
                list-style-type: none;
                width: 20%;
                height: 100%;
            }

            li {
                width: 100%;
            }

            > ul a {
                @include displayRow;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            > ul a:hover {
                background-color: $mainColor;
                color: white;
            }

            > a {
                background-color: $mainColor;
                color: white;
                text-decoration: none;
                width: 8%;
                text-align: center;
                padding: 5px;
                border: 2px solid $mainColor;
            }

            > a:hover {
                background-color: transparent;
                color: $mainColor;
            }

            > ul > li:nth-child(2) > a {
                background-color: $mainColor;
                color: white;
            }
        }
    }

    // MAIN
    main img {
        width: 10%;
    }

    // FOOTER
    footer {
        background-color: #1f1f2e;

        > article {
            padding: 4% 3%;
            @include displayRow;
            justify-content: space-between;

            > aside:first-child,
            > aside:nth-child(2) {
                width: 20%;
                @include displayColumn(2vh);
            }

            > aside:last-child {
                width: 50%;
                @include displayColumn(2vh);
            }
        }

        h3,
        span {
            color: $mainColor;
        }

        h3 {
            font-size: 23px;
        }

        ul {
            list-style-type: none;
            @include displayColumn(1vh);
        }

        li {
            @include displayRow(1vw);
        }

        a {
            text-decoration: none;
            color: white;
        }

        ol {
            @include displayRow(10px);

            > li {
                border: 1px solid white;
                border-radius: 50%;
                width: 2vw;
                height: 2vw;
                @include displayRow;
                align-items: center;
                justify-content: center;
            }

            [href="#"] {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                @include displayRow;
                align-items: center;
                justify-content: center;
            }

            a:hover {
                color: #1f1f2e;
                background-color: white;
            }
        }

        i,
        address,
        p {
            color: white;
        }

        aside:first-child > ul a:hover,
        section a:hover {
            color: $mainColor;
        }

        aside:nth-child(2) > ul a:hover {
            text-decoration: underline;
        }

        form {
            @include displayRow;
            width: 100%;
        }

        [type="email"] {
            width: 75%;
            padding: 3%;
            border: 1px solid transparent;
            font-size: 20px;
            color: $mainColor;
        }

        [type="submit"] {
            width: 25%;
            padding: 3%;
            border: 1px solid transparent;
            background-color: $mainColor;
            color: white;
            font-size: 20px;
        }

        [type="submit"]:hover {
            background-color: transparent;
            border: 1px solid $mainColor;
            color: $mainColor;
            cursor: pointer;
        }

        > section {
            @include displayRow;
            justify-content: space-between;
            padding: 2% 3%;
            border-top: 1px solid gray;

            > ul {
                @include displayRow(2vw);
            }
        }
    }
}
