@media (min-width: $mobileVersion) {
    img {
        width: 20%;
    }
    // nav
    nav {
        position: relative;
       
        > article {
            background-color: $footerColor;

            span {
                display: flex;
                align-items: center;
                column-gap: 2vh;
                color: white;
            }
    
            i,
            a {
                color: white;
                font-size: 14px;
            }
            
            ul {
                display: flex;
                width: 50%;
            }
    
            li {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }

        > section {
            width: 92%;
            padding: 0vh 4%;
            min-height: 8vh;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                // width: 80%;
                display: flex;
                column-gap: 2vh;
                color: $mainColor;
            }

            > ul,
            > a {
            display: none;
            }
        }

        aside {
            min-height: 14vh;
            align-items: center;
            justify-content: center;
            row-gap: 2vh;
        }

        
    }

    details {
        width: 92%;
        position: absolute;
        text-align: right;

        ul {
            position: absolute;
            width: 100%;
            padding-top: 1vh;
        }

        li {
            display: flex;
            width: 100%;
            background-color: white;
        }

        a {
            width: 100%;
            padding: 2vh;
            text-align: left;
            color: $footerColor;
            font-weight: 600;
        }

    }

    summary {
        color: gray;
        border: 1px solid gainsboro;
        padding: 1vh 2vh;
        font-size: 17px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 5vh;
        // width: 5vh;
    }

    // header
    header {
        background-image: url(/img/bg-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;

        > article {
            width: 100%;
            height: 100%;
            background-color: rgba(40,40,40,.9);
            @include displayColumn(5vh);
            justify-content: center;
            align-items: center;
        }

        aside {
            @include displayColumn(2vh);
            text-align: center;
            align-items: center;
        }

        h3 {
            color: $mainColor;
            font-size: 24px;
        }

        h1 {
            color: white;
            font-size: 34px;
            width: 50%;
        }

        form {
            width: 90%;
            @include displayRow;
        }

        input {
            width: 55%;
            padding: 3vh 2vh;
            border: 1px solid transparent;
        }

        [type="submit"]{
            width: 45%;
            background-color: $mainColor;
            color: white;
            font-weight: 600;
        }
    }
    
    // footer
    footer {
        background-color: $footerColor;

        > article {
            min-height: 150vh;
            justify-content: center;
            align-items: center;
            row-gap: 5vh;

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 3vh;
            }

            ol {
                display: flex;
                width: 50%;
            }

            li {
                width: 100%;
                column-gap: 2vh;
                align-items: center;
            }
        }

        > section {
            border-top: 1px solid dimgray;
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 2vh;

            p {
                width: 90%;
                color: white;
            }

            ul {
                display: flex;
                width: 80%;
            }

            li {
                display: flex;
                justify-content: center;
                width: 100%;
            }

        }

        span {
            color: $mainColor;
        }

        aside {
            width: 90%;
            row-gap: 4vh;
        }

        a {
            color: white;
        }

        address,
        i,
        p {
            color: white;
        }

        h3 {
            color: $mainColor;
            font-size: 22px;
        }

        form {
            display: flex;
            width: 100%;
        }

        input {
            border: none;
            padding: 3vh;
            width: 70%;
        }

        [type="submit"] {
            width: 30%;
            background-color: $mainColor;
            color: white;
            transition: .4s;
            border: none;
            border: 1px solid $mainColor;
        }

    }
    
    ol  [href="#"] {
        border: 1px solid white;
        border-radius: 50%;
        height: 6vh;
        width: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}