@media (min-width: $tabletVersion) {

    // nav
    nav {
        > article {

            ul {
                width: 30%;
            }

            a {
                font-size: 16px;
            }
        }

        > section {
            min-height: 12vh;

            h2 {
                font-size: 32px;
            }
        }

        a:hover {
            color: $mainColor;
        }

        details {
            a:hover {
                background-color: $mainColor;
                color: white;
            }
        }
    }

    summary {
        font-size: 20px;
    }

    // header 
    header {

        h3 {
            font-size: 32px;
        }

        h1 {
            width: 100%;
            font-size: 46px;

        }

        form {
            width: 80%;
        }

        input {
            width: 75%;
        }

        [type="submit"]{
            width: 25%;
            transition: .4s;

            &:hover {
                background-color: white;
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }
    
}