@media (min-width: $tabletVersion) {

    // nav
    nav {
        > article {

            ul {
                width: 30%;
            }

            a {
                font-size: 16px;
            }
        }

        > section {
            min-height: 12vh;

            h2 {
                font-size: 32px;
            }
        }

        a:hover {
            color: $mainColor;
        }

        details {
            a:hover {
                background-color: $mainColor;
                color: white;
            }
        }
    }

    summary {
        font-size: 20px;
    }

    // header 
    header {

        h3 {
            font-size: 32px;
        }

        h1 {
            width: 100%;
            font-size: 46px;

        }

        form {
            width: 80%;
        }

        input {
            width: 75%;
        }

        [type="submit"]{
            width: 25%;
            transition: .4s;

            &:hover {
                background-color: white;
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }

    // footer
    footer {

        align-items: center;

        a:hover {
            color: $mainColor;
        }

        > article {
            width: 90%;
            min-height: 70vh;
            flex-direction: row;
            justify-content: space-between;

            ol {
                column-gap: 1vh;
            }
        }

        ol a:hover {
            background-color: white;
            color: $footerColor;

        }

        aside {
            width: 25%;

            &:last-child{
                width: 45%;
            }

            a:hover {
                color: white;
                text-decoration: underline white;
            }

        }

        > section {
            width: 100%;
            align-items: flex-start;

            p {
                width: 80%;
            }

            ul {
                width: 95%;
                flex-direction: row-reverse;
                justify-content: right;
            }

            li {
                width: 10%;
            }

            a {
                width: 100%;
            }
        }
    }
    
}